/* CABECALHO */
header{
    background-color: #2C5288;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    
}
header nav{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header nav a{
    padding: 1rem;
}
header nav a:hover{
    font-size: 2.2rem;
    background-color: #222;

}
#logo-img{
    object-fit: cover;
    border-radius: 1rem;
    width:10vw;

}
/* CONTEUDO */
.bloco-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item{
    padding: 1rem;
    color: black;
    width: 45%;
    background-color: #F9E4CB;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.caixa-img{
    width: 100%;
    height: 60vh;
    background-color: #F8F8F8;


}
.caixa-img img{
    object-fit: cover;
    height: 100%;
    width:100%;

}
.item-texto{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    border-radius:1rem;
    
}
#descriItem{
    max-height: 100px;
    margin: 0;
    text-align: justify;
}
.item .item-texto p{
    width: 90%;
    font-size: 2.2rem;
    margin: 1.5rem 0rem;
}
.caixa-contato{
    margin-top: 2rem;
    width: 100%;
    background-color: #222;
    display: flex;
    align-items: center;
    color: white;
    border-radius:1rem;
    justify-content: center;

}
.icon{
    color: white;
    cursor: pointer;
    margin: 0rem 0.4rem;
    font-size: 4rem;
}
#contatar{
    text-decoration: underline;
    cursor: pointer;
    border-radius:1rem;
    color: white;
    font-size: 2.5rem;
    padding:  1rem 0rem;
}
#contatar:hover{
    
}
/* FOOTER */
footer{
    margin-top: 3%;
    border-top: 0.2rem solid gray;
    background-color: #2C5288;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
footer div{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
footer nav{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
footer div nav a{
    letter-spacing: 0.2rem;
    color: whitesmoke;
    font-size: 2rem;
    margin: 0.5rem 0rem;

}
footer div nav a:hover{
    font-size: 2.2rem;
    background-color: #222;
    

}
#icons-redeSociais{
    display: flex;

}
.icon-footer{
    padding: 1rem;
    font-size: 2.5rem;
}